<suite name="Suite" parallel="classes" thread-count="5">
    <listeners>
        <listener class-name="Listener_Screenshot.TestAllureListener"/>
    </listeners>
    <test name="Test Automation">

        <classes>
            <class name="org.testcases.MavenTestNGExample"> </class>
            <class name="org.testcases.MavenTestNGExample2"> </class>
        </classes>
    </test>
</suite>